* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  display: inline-block;
  color: #3f3f3f;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.containerWidth {
  max-width: 1600px;
  margin: 0 auto;
}

body {
  outline: 1px solid red;
  margin: auto;
  padding: 0;
  font: 16px Helvetica, Arial, sans-serif;
  max-width: 1920px;
  min-width: 320px;
  color: #3f3f3f;
}

.header {
  background-color: #fff;
}

.header__box {
  padding: 20px 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__img {
  width: 274px;
  height: 75px;
}

.header__img img {
  width: 100%;
  height: 100%;
}

.header__link {
  background-color: #f0506e;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 33px;
  padding: 0 15px 0 30px;
  border-radius: 3px;
  position: relative;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.header__link span::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-image: url(../img/telephone-fill.svg);
  left: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.header__link:hover {
  color: #fff;
  background-color: #ff002f;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.schimmel {
  background-image: url(../img/schimmelpilzsanierung-03b981fd.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.schimmel::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.37);
}

.schimmel__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 800px;
}

.schimmel__inner {
  position: relative;
  color: #fff;
  max-width: 580px;
  min-height: 375px;
  background-color: rgba(1, 49, 128, 0.58);
  padding: 70px 40px;
}

.schimmel__title {
  font-size: 28px;
  line-height: 1.4;
  font-weight: 700;
  text-transform: uppercase;
}

.schimmel__descr {
  line-height: 25px;
}

.schimmel__btn {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  line-height: 35px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 9px 0;
  text-align: center;
  margin-top: 50px;
  display: block;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.schimmel__btn:hover {
  color: #000;
  background-color: #fff;
}

.about {
  padding: 70px 0;
}

.about__box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.about__left {
  min-height: 208px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__text {
  font-size: 19px;
  line-height: 1.5;
  margin: 0;
}
.about__text span {
  font-weight: 700;
}

.about__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__inner {
  min-width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid transparent;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.about__inner:hover {
  background-color: #fff;
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.1);
}

.about__img img {
  width: 100%;
  height: 100%;
}

.about__img {
  max-width: 140px;
  max-height: 140px;
}

.about__name {
  font-size: 19px;
  line-height: 1.4;
  font-weight: 700;
  text-transform: uppercase;
  padding: 20px 0;
  text-align: center;
}

.gallery__box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.gallery__img {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}
.gallery__img:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.gallery__img img {
  width: 100%;
  height: 100%;
}

.benefits {
  padding: 140px 0px 70px;
}
.benefits span {
  height: 1px;
  display: block;
  background-color: #e5e5e5;
  margin: 40px 0;
}

.benefits__title {
  font-size: 12px;
  line-height: 1.4;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0px 0px 40px;
  border-left: 2px solid #000;
  padding-left: 20px;
}

.benefits__box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.9fr 1.5fr;
  grid-template-columns: 0.9fr 1.5fr;
  gap: 20px;
}

.benefits__name {
  font-size: 28px;
  line-height: 1.4;
  font-weight: 700;
  text-transform: uppercase;
}

.benefits__text {
  line-height: 28px;
  margin: 0;
}

.palette {
  background-image: url(../img/photo-1527202825319-408f2a7df85b-scaled-2e39fc2d.webp);
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 140px 0;
}

.palette__title {
  font-size: 42px;
  line-height: 1.2;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.palette__descr {
  margin-top: 10px;
  font-size: 12px;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.drying {
  padding: 70px 0 0;
}
.drying span {
  height: 1px;
  display: block;
  background-color: #e5e5e5;
  margin: 40px 0;
}

.drying__title {
  font-size: 19px;
  line-height: 1.4;
  font-weight: 700;
  text-transform: uppercase;
  border-left: 2px solid #000;
  padding-left: 20px;
  margin-bottom: 40px;
}

.drying__box {
  line-height: 28px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.drying__left,
.drying__right {
  margin: 0;
}

.old__box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  gap: 100px;
  padding: 10px 0;
}

.old__img {
  position: relative;
}
.old__img img {
  width: 100%;
  height: 100%;
}
.old__img::before {
  content: "";
  position: absolute;
  width: 97%;
  margin: 10px;
  height: 96%;
  border: 1px solid #fff;
}

.old__content {
  padding: 0 5px;
}

.old__title {
  font-size: 28px;
  line-height: 1.4;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.old__text {
  line-height: 28px;
  margin-bottom: 50px;
}

.header__link--font {
  background-color: #003180;
  color: #fff;
  border: 1px solid transparent;
}
.header__link--font:hover {
  background-color: #002767;
}

.services {
  background-image: url(../img/photo-1527202825319-408f2a7df85b-scaled-2e39fc2d.webp);
  background-repeat: no-repeat;
  padding: 40px 0;
  margin-top: 70px;
}

.services__title {
  font-size: 32px;
  line-height: 1.3;
  font-weight: 700;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  margin-bottom: 50px;
}

.services__box {
  background-color: #e5e5e5;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  gap: 2px;
}

.services__inner {
  background-color: #fff;
  padding: 20px;
  padding-bottom: 30px;
  max-width: 300px;
  max-height: 200px;
  text-align: center;
  cursor: pointer;
}

.services__img {
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.services__img img {
  width: 100%;
  height: 80%;
}
.services__img:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.services__name {
  font-size: 14px;
  color: #0D1724;
  line-height: 1.4;
  font-weight: 700;
  text-transform: uppercase;
}